*{
    margin:0px;
    padding:0px
}
body{
    background-color: #cceeff;
}
.banner{
    width:100%;
    min-height:150px;
    background-image: url("../images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{width:1140px; min-height:1500px;margin:auto auto;}
.row{    min-height:5px;}
.col100{    width:100%;}
.col75{width:75%; min-height:10px; float:left;}
.col50{width:50%; min-height:10px; float:left;}
.col33{width:33.33%; min-height:10px; float:left;}
.col25{width:25%; min-height:10px; float:left;}

.imgres{
    width:100%;
    height: auto;
}

.social
{
    width:50px;
    height:150px;
    position:fixed;
    top:220px;
    right:0px;
    background-color: crimson;
}

.social ol { 
    list-style-type:none;
}
.social ol li{
    font-size:2.5em;
    color:#ffffff;
    padding:2px;
}
.topmenu{}
.topmenu nav{}
.topmenu nav ul{
    list-style-type:none;
    
}
.topmenu nav ul li{
    display:inline-block;
}
.clear{clear:both;}
@media screen and (max-width:960px)
{
    body{background-color: darkgoldenrod;}
    .container{width: 940px;}
    .colmd100{width:100%;}
    .colmd75{width:75%;float:left;}
    .colmd50{width:50%;float:left;}
    .colmd25{width:25%;float:left;}
}

@media screen and (max-width:540px){
    body{background-color:darksalmon;}
    .container{width: 500px;}
    .colsm100{width:100%;}
    .colsm75{width:75%;float:left;}
    .colsm50{width:50%;float:left;}
    .colsm25{width:25%;float:left;}
}